doctype html
html(lang='en', ng-app='todo')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css') 
    script(src='../javascripts/angular.min.js')
    script(src='../javascripts/angular-resource.min.js')
    script(src='../javascripts/angular-route.min.js') 
    script(src='../javascripts/app.js')         
    script(src='../javascripts/controller.js')         
  body(ng-controller='ToDoController')
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      div.navbar-header
        a.navbar-brand(href='#/todo')= title
    div.container
      div(ng-view)